{% extends 'front/base.html.twig' %}

{% block title %}Licence
{% endblock %}

{% block body %}

	<div class="container">
		<div class="my-3">
			<a href="{{ path('admin_main') }}" class="btn btn-outline-primary">
				Accueil
			</a>
			<a href="{{ path('admin_comment_list') }}" class="btn btn-outline-primary">
				Retour à la liste
			</a>
		</div>
	</div>

	<div class="container p-3 w-50">
		{{ form_start(commentForm) }}

		<div class="mb-3">
			{{ form_label(commentForm.content, 'Commentaire : ', {'label_attr' : { 'class' : 'form-label' } } ) }}
			{{ form_widget(commentForm.content, {'attr' : { 'class' : 'form-control'} } ) }}
		</div>

		<div class="mt-5">
			{{ form_widget(commentForm.enregistrer, { 'attr' : {'class' : 'btn btn-outline-primary'} } ) }}
		</div>

		{{ form_end(commentForm) }}
	</div>

{% endblock %}
