{% extends 'front/base.html.twig' %}

{% block title %}Produits!
{% endblock %}

{% block body %}

	<div class="container p-3 mt-3">
		<a href="{{ path('main') }}" class="btn btn-outline-primary">
			Accueil
		</a>

		<div class="container d-flex flex-wrap justify-content-around gap-3 p-3">
			{% for product in products %}
				<div class="card text-center d-flex align-items-around" style="width: 18rem;">
					<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
						</div>
						<div class="carousel-inner">
							{% for image in product.images %}
								<div class="carousel-item {% if image.id == 1 %}active{% endif %}">
									<img src="{{ asset('upload/'~image.src) }}" class="d-block w-25" alt="{{ image.title }}">
								</div>
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
					<div class="card-body">
						<h2 class="card-title">{{ product.name }}</h2>
						<h3 class="card-title">{{ product.category.name }}</h3>
						<h3 class="card-title">{{ product.licence.name }}</h3>
						<p class="card-text">{{ product.price }}€</p>
						<p class="card-text">stock
							{{ product.stock }}</p>
						<a href="{{ path('product_show', { 'id' : product.id }) }}" class="btn btn-outline-primary">Selectionner</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
