{% extends 'front/base.html.twig' %}

{% block title %}Produits!
{% endblock %}

{% block body %}

	<div class="container p-3 mt-3">
		<a href="{{ path('main') }}" class="btn btn-outline-primary">
			Accueil
		</a>

		<div class="container d-flex flex-wrap justify-content-around gap-3 p-3">
			{% for product in products %}
				<div class="card text-center d-flex align-items-around" style="width: 18rem;">
					{% for image in product.images %}
						<img src="{{ asset('upload/'~image.src) }}" class="card-img-top" alt=" {{ image.alt }}" width="">
					{% endfor %}
					<div class="card-body">
						<h2 class="card-title">{{ product.name }}</h2>
						<h3 class="card-title">{{ product.category.name }}</h3>
						<h3 class="card-title">{{ product.licence.name }}</h3>
						<p class="card-text">{{ product.price }}€</p>
						<p class="card-text">stock
							{{ product.stock }}</p>
						<a href="{{ path('product_show', { 'id' : product.id }) }}" class="btn btn-outline-primary">Selectionner</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
